fastapi==0.139.0
fastapi-cli==0.0.29
fastapi-cloud-cli==0.22.1
langchain-ollama==1.1.0
ollama==0.6.2
pydantic==2.13.4
pydantic-extra-types==2.11.1
pydantic-settings==2.14.2
pydantic_core==2.46.4
python-dotenv==1.2.2
uvicorn==0.51.0
